---
---

@import "{{ site.theme }}";
body {
    font: 15px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: url(../images/background.jpg) !important;
}
footer {
    background: white !important;
    border-radius: 3px !important;
    width: 160px !important;
    padding: 10px 20px 10px 10px !important;
    margin-left: -540px !important;
}
nav {
    background: white !important;
    border-radius: 3px !important;
    padding: 10px 20px 0px 0px !important;
    margin-left: -600px !important;
}
header {
    background: black !important;
}